[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pylint = "*"

[packages]
black = "*"
isort = "*"
torch = "*"
torchvision = "*"
lock = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
